<h1><%= @user.full_name %> (<%= link_to "Logout", logout_path, method: :delete %>)</h1>
<h2>API Info</h2>

<img src="<%= @user.bigger(@user.avatar_url) %>" alt="Avatar">
<p>full_name: <%= @user.full_name %></p>
<p>username: <%= @user.username %></p>
<p>permalink_url: <%= @user.permalink_url %></p>

<p>city: <%= @user.city %></p>
<p>track_count: <%= @user.track_count %></p>


<p><%= @user.followers_count %> followers: </p>
<% @user.followers(session[:token])[:collection].each do |follower| %>
  <img src="<%= @user.bigger(follower[:avatar_url]) %>" alt="<%= follower[:username] %> Avatar">
  <p><%= follower[:full_name] %></p>
  <p><%= follower[:city] %></p>
  <p><a href="<%= follower[:website] %>"><%= follower[:website_title] %></a></p>
  <p><a href="<%= follower[:permalink_url] %>">Soundcloud</a></p>
<% end %>

<p>following <%= @user.followings_count %> users: </p>
<% @user.following(session[:token])[:collection].each do |following| %>
  <img src="<%= @user.bigger(following[:avatar_url]) %>" alt="<%= following[:username] %> Avatar">
  <p><%= following[:full_name] %></p>
  <p><%= following[:city] %></p>
  <p><a href="<%= following[:website] %>"><%= following[:website_title] %></a></p>
  <p><a href="<%= following[:permalink_url] %>">Soundcloud</a></p>
<% end %>
